{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Edit User</h2>

    <p><strong>Username:</strong> {{ user[1] }}</p>
    <p><strong>Current role:</strong> {{ user[2] }}</p>

    <form method="POST">
        <select name="role">
            <option value="user">user</option>
            <option value="curator">curator</option>
            <option value="admin">admin</option>
        </select>

        <button type="submit">Save Changes</button>
    </form>

    <p style="text-align:center;margin-top:20px;">
        <a href="/users">Back to Users</a>
    </p>
</div>
{% endblock %}
