{% extends "base.html" %}
{% block content %}
<div class="card">
    <h2>Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Enter username">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Login</button>
    </form>

    <p style="text-align:center;margin-top:15px;">
        Don't have an account?
        <a href="/signup">Sign Up</a>
    </p>

    {% if message %}
        <p style="color:red;text-align:center;">{{ message }}</p>
    {% endif %}
</div>
{% endblock %}
